.ant-modal-body {
    font-size: 14px;
    line-height: 1.5714285714285714;
    word-wrap: break-word;
    display: flex;


}
.ant-modal{
    position: relative;
    top: 40%;
    
}
.ant-modal-body p{
    margin-left: 1em;

    font-size: 1rem;
}
svg{
    width: 30px;
    height: 30px;
}

.ant-btn{
    margin-bottom: 5px;
    margin-left: 5px;
}
.ant-modal-footer{
    margin-top:-20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
@media only screen and (max-width:545px){
    .ant-modal-footer{
        justify-content: center;
    }
}